@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Colors */
  --color-text: #3e3e3e;
  --color-primary: #4b60e6;
  --color-secondary: #3b24e9;
  --color-black: #090329;
  /* Fonts */
  --font-inter: "Inter", sans-serif;
}

.horizontal-layout {
  @apply mx-auto w-[90%] md:w-[94%] lg:w-[97%];
}
.nav-links a{
  @apply w-full text-center p-4 text-xl font-medium rounded-2xl transition-colors duration-200;
}

.nav-links a:hover{
  @apply bg-[#E8E6E6];
}
.active{
  @apply bg-[#E8E6E6];
}
